name: Deploy APK on GitHub

on:
  release:
    types:
      - created

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          distribution: 'adopt'
          java-version: 17

      - name: Validate Gradle Wrapper
        uses: gradle/wrapper-validation-action@v3.5.0

      - name: Build APK
        run: bash gradlew app:assembleRelease

      - uses: r0adkll/sign-android-release@v1.0.4
        name: Sign APK
        id: sign_app
        with:
          releaseDirectory: app/build/outputs/apk/release
          signingKeyBase64: ${{ secrets.SIGNING_KEY }}
          alias: "key0"
          keyStorePassword: ${{ secrets.KEY_STORE_PASSWORD }}
          keyPassword: ${{ secrets.KEY_PASSWORD }}
        env:
          BUILD_TOOLS_VERSION: "34.0.0"

      - uses: svenstaro/upload-release-action@v2
        name: Upload APK
        with:
          file: ${{steps.sign_app.outputs.signedReleaseFile}}
          asset_name: coffee.apk
          tag: ${{ github.ref }}
          repo_token: ${{ secrets.GITHUB_TOKEN }}
